.card-container {
    width: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.card-container .image-container {
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.card-container .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-out;
}

.card-container:hover img {
    transform: scale(1.1);
}

.card-container .image-container .overlay{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.3;
}

.category-content-container{
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.category-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    margin: 0 0 10px 10px;
}

.category-content h1{
    color: 
    rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
}

.category-content p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
}

.sale-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
        gap: 6px;
        transition: 0.5s;
}

.card-container:hover .sale-content{
    background-color: #CBCBCB;
}

.sale-content h3{
    color: rgb(9, 9, 11);
    font-weight: 500;
    font-size: 16px;
}

.sale-content p{
    color: rgb(9, 9, 11);
    font-weight: 600;
    font-size: 16px;
}

.add-to-cart{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(40px);
}

.card-container:hover .add-to-cart{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCCCCC;
    transform: translateY(0);
}

.add-to-cart button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: rgb(24, 24, 27);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.flags .new-flag{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
}

.flags .favorite-flag{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    /* padding: 10px; */
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}